{% extends "base.html" %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Trivia Challenge</h1>
        <p class="lead">Lets get started!</p>
         <ol class="list-unstyled">
            <form>
                <fieldset>
                    <legend>Hi! Please enter your name and eamil address</legend>
                    <li><label>Username: <input type="text"></label></li>
                    <li><label>email: <input type="email"></label></li>
                    <li><input type="submit" value="Submit"></li>
                </fieldset>
            </form>
        </ol>
      </div>
    </div>
  </div>

{% endblock content %}
